aws_region = "REGION AWS"
project_name = "NAME PROJECT"
github_repository = "NAME REPO GITHUB"
environment = "ENVIRONMENT DEPLOY NAME: LOCAL, DEVELOPMENT, STAGING, PRODUCTION"
bucket_name = "Nombre del bucket que almacena el estado de terraform"
bucket_key = "Key del bucket que almacena el estado de terraform"
use_spot          = false
alert_email       = "tu-email@ejemplo.com"
