{% extends "base_generic.html" %}
{% block head_content %}
    <title>Ayuda</title>
{% endblock %}

{% block content %}
    <!--Información de ayuda-->
    <div id="container">
        <div id="post">
            <center><h2><strong>Bienvenido a la sección de ayuda</strong></h2></center>
            <p style="text-align: justify;">Antes de enviarnos tu pregunta al correo en la sección de contácto, por favor
                revisa las que ya están en la página. Aquí encontraras respuesta a las preguntas: <br>
            <ul>
                <li><a href="#p1">¿Cómo puedo apoyar el proyecto de una manera más directa?</a></li>
            </ul>

            <!-- Question #1 -->
            <center><h1><strong><a name = "p1">¿Cómo puedo apoyar el proyecto de una manera más directa?</a></strong></h1></center>
            <ul>
                <li>Envia un correo personal al creador del proyecto: <strong>ladivcr@gmail.com</strong>"</li><br>
                <p style="text-align: justify;">En el correo describe las razones por las que quieres apoyar al proyecto, de
                    qué manera quieres apoyarlo, así como las habilidades que consideras serán de beneficio para el proyecto.
                    No olvides compartirnos qué fue lo que te motivo a colaborar. Es muy importante para nosotros
                    saber si nuestros intereses están alineados y si podemos aportarte a tu crecimiento como desarrollador.
                </p>
            </ul>


            <p style="text-align: justify;"><strong>Hola usuario, gracias por usar nuestra aplicación.
                Continuamos desarrollando la aplicación para que cada vez sea más cómoda para ti.</strong></p>


            <p><center><h1>Con mucho cariño, el equipo de Amixtli &hearts;</h1></center></p>
        </div>

        <div id="footer">&copy Todos los derechos reservados</div>
    </div>
    <!-- TERMINA Información de ayuda-->
{% endblock %}
