{% extends "base_generic.html" %}
{% block head_content %}
    <title>Validación de reportes</title>
{% endblock %}

{% block content %}
    <!--Respuesta del resultado de la actualización del reporte-->
    <div id="container">
        <div id="post">
            <center><h2><strong>Resultado de la actualización del reporte</strong></h2></center>
            <h1>{{ mensaje }}</h1>
        </div>

        <div id="footer">&copy Todos los derechos reservados</div>
    </div>
    <!-- Respuesta del resultado de la actualización del reported-->
{% endblock %}
