{% extends "base_generic.html" %}
{% block head_content %}
    <title>Política de privacidad</title>
{% endblock %}

{% block content %}
    <!--Información de Políticas de privacidad-->
    <div id="container">
        <div id="post">
            <center><h2><strong>Política de privacidad</strong></h2></center>

            <p>Última actualización: <strong>[23/09/2023]</strong></p>

            <p>Bienvenido a nuestro sitio web. En Amixtli, valoramos y respetamos tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal cuando visitas nuestro sitio web.</p>

            <center><h2><strong>Información que Recopilamos</strong></h2></center>

            <p>Cuando visitas nuestro sitio web, podemos recopilar la siguiente información:</p>

            <ul>
                <li>Cualquier información personal que nos proporciones de forma voluntaria a través de formularios de contacto u otros medios.</li>
            </ul>


            <center><h2><strong>Uso de la Información</strong></h2></center>

            <p>Utilizamos la información recopilada para:</p>

            <ul>
                <li>Mejorar la experiencia del usuario en nuestro sitio web.</li>
                <li>Proporcionar información y servicios solicitados por los usuarios.</li>
                <li>Responder a consultas o preguntas de los usuarios.</li>
                <li>Enviar actualizaciones y comunicaciones relacionadas con nuestro sitio web.</li>
            </ul>

            <center><h2><strong>Cookies y Tecnologías Similares</strong></h2></center>

            <p>Utilizamos cookies y tecnologías similares para recopilar información y mejorar la experiencia del usuario.
                Puedes configurar tu navegador para que te notifique cuando se utilicen cookies y puedes optar por desactivarlas
                en cualquier momento.</p>

            <center><h2><strong>Divulgación de la Información</strong></h2></center>

            <p>No compartimos tu información personal con terceros, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos, privacidad, seguridad o propiedad.</p>

            <center><h2><strong>Enlaces a Terceros</strong></h2></center>

            <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. Esta política de privacidad no se aplica a los sitios web de terceros, por
                lo que te recomendamos revisar sus políticas de privacidad.</p>

            <center><h2><strong>Tus Derechos</strong></h2></center>

            <p>Tienes derecho a acceder, rectificar o eliminar tu información personal que tengamos. Si deseas ejercer alguno de estos derechos o tienes alguna pregunta sobre nuestra
                política de privacidad, contáctanos a <strong><a href="mailto:grankharis@gmail.com">grankharis@gmail.com</a></strong></p>

            <center><h2><strong>Modificaciones a la Política</strong></h2></center>

            <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento.
                Cualquier cambio se publicará en esta página.</p>

            <p>Gracias por visitar nuestro sitio web y confiar en nosotros con tu información personal. Estamos comprometidos en proteger tu privacidad.</p>
            <div id="footer">&copy Todos los derechos reservados</div>
    </div>
    <!-- TERMINA Información de Políticas de privacidad-->
{% endblock %}
