{% extends "base_generic.html" %}
{% block head_content %}
    <title>Política de privacidad</title>
{% endblock %}

{% block content %}
    <!--Información de Políticas de privacidad-->
    <div id="container">
        <div id="post">
            <center><h2><strong>Política de privacidad</strong></h2></center>
            <p style="text-align: justify;">Antes de enviarnos tu pregunta al correo en la sección de contácto, por favor
                revisa las que ya están en la página. Aquí encontraras respuesta a las preguntas: <br>
            <ul>
                <li><a href="#p1">¿Quienes somos?</a></li>
            </ul>

            <!-- Question #1 -->
            <center><h1><strong><a name = "p1">¿Quienes somos?</a></strong></h1></center>
                <p style="text-align: justify;">Nuestra dirección del sitio web:
                </p>

            <p><center><h1>Con mucho cariño, el equipo de Amixtli &hearts;</h1></center></p>
        </div>

        <div id="footer">&copy Todos los derechos reservados</div>
    </div>
    <!-- TERMINA Información de Políticas de privacidad-->
{% endblock %}
